@model RiskSystem.Models.Element

@{
    ViewBag.Title = "Додати елемент";
}

<h2>Додати елемент</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(x => x.SubLevelId)
        <select class="form-control" id="SubLevelId" name="SubLevelId">
            @foreach (var subLevel in ViewBag.SubLevels)
            {
                <option value="@subLevel.SubLevelId">@subLevel.SubLevelName</option>
            }
        </select>
    </p>
    <p>
        @Html.LabelFor(x => x.ElementName)
        @Html.TextBoxFor(x => x.ElementName, new { @class = "form-control" })
    </p>
    
    <input type="submit" value="Додати" />
}