@model RiskSystem.Models.SubLevel

@{
    ViewBag.Title = "Додати підсистему";
}

<h2>Додати підсистему</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(x => x.LevelId)
        <select class="form-control" id="LevelId" name="LevelId">
            @foreach(var mainLevel in ViewBag.MainLevels)
            {
                <option value="@mainLevel.LevelId">@mainLevel.LevelName</option>
            }
        </select>
    </p>
    <p>
        @Html.LabelFor(x => x.SubLevelName)
        @Html.TextBoxFor(x => x.SubLevelName, new { @class = "form-control" })
    </p>

    
    <input type="submit" value="Додати" />
}