@model List<RiskSystem.DamagePlace>

@{
    ViewBag.Title = "Місця пошкоджень";
}

<h2>Місця пошкоджень</h2>

@Html.ActionLink("Додати місце пошкодження", "AddNewDamagePlace")

<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Id</th>
        <th>Назва головного рівня</th>
        <th>Назва підсистеми</th>
        <th>Назва елемента</th>
        <th>Назва пошкодження</th>
    </tr>
    @foreach (var damagePlace in Model)
    {
        string elementText="-",damageText="", levelText="-",subLevelText="-";
        foreach (var level in @ViewBag.MainLevels)
        {
            if (level.LevelId == damagePlace.LevelId)
            {
                levelText = level.LevelName;
                break;
            }
        }
        foreach (var subLevel in @ViewBag.SubLevels)
        {
            if (subLevel.SubLevelId == damagePlace.SubLevelId)
            {
                subLevelText = subLevel.SubLevelName;
                break;
            }
        }
        foreach (var element in @ViewBag.Elements)
        {
            if (element.ElementId == damagePlace.ElementId)
            {
                elementText = element.ElementName;
                break;
            }
        }
        foreach (var damage in @ViewBag.Damages)
        {
            if (damage.DamageId == damagePlace.DamageId)
            {
                damageText = damage.DamageName;
                break;
            }
        }
        <tr>
            <td>@damagePlace.DamagePlaceId</td>
            <td>@levelText</td>
            <td>@subLevelText</td>
            <td>@elementText</td>
            <td>@damageText</td>
        </tr>
    }
</table>
